@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide Scrollbar for cleaner look */
::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
